#//////////////////////////////////////////////////////////////////////
#//
#//      Kingsoft Blaze Game Studio. Copyright (C) 2006
#//
#//      Created_datetime : 2006-06-28 17:24
#//      File_base        : lord.cfg
#//      File_ext         : .cfg
#//      Author           : zolazuo(zuolizhi)
#//      Description      : 
#//
#//////////////////////////////////////////////////////////////////////

[lord]
Port=8888
MaxPlyer=1000
MaxNpc=16384
MaxItem=200000
MaxObj=20000
MaxRegPlayer=32

#if QueuePort=0 close register queue function
QueuePort=8889
QueueTimeOut=30

#config net card
IntranetMask=192.168.15.0
#InternetMask=192.168.15.0

[Paysys]
IP=192.168.16.117
Port=9999
On=1

[DBSecure]
HostName=127.0.0.1
DBName=fsonline2
LoginName=YOUR_DB_USER
LoginPwd=CHANGE_ME
